#barista-experience.row.outer.grey-border
  .span12
    .row.section-header
      .span6
        = image_tag 'cajaDeLeche.png', class: "milk"
        %h3 Développement Personnel
    .row.section-description
      .span6
        %p Après avoir passé une année à l'étranger au Japon, je voulais apprendre un métier ouvrant des portes à l'emploi international. Puisque Vancouver a la réputation d'être une ville du café, j'ai décidé de devenir un barista. A la fin d'une année passée à travailler à Vancouver, j'ai réalisé mon objectif: J'ai déménagé en Corée où j'ai vécu et travaillé comme barista pendant un an.
    .row.company-profiles
      .span6.company-profile.left
        .row#elysian-coffee
          %h4.company-name
            Elysian Coffee
            %small.title
              singing barista
            %small.status
              %i.icon-time
              mars 2010 à septembre 2012
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p En tant que barista je suis devenu connu, souple et habile. Même après avoir quitté ce milieu, les clients réguliers demandent de mes nouvelles. De plus, je suis souvent invité à des party de bureau.
          .span2.details
            %i.icon-coffee
            Third Wave Coffee
            %br
            %i.icon-star
            Spécialiste
            %br
            %i.icon-group
            Travail d'équipe
        .row#kitchen-arista
          %h4.company-name
            Kitchen Arista
            %small.title
              barista
            %small.status
              %i.icon-time
              juillet 2008 à 2009
            %small.status.international
              %i.icon-globe
              Corée
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Je suis arrivé en Corée avec des capacités linguistiques limitées. Après un an, je suis devenu capable de tenir une conversation et de prendre des commandes. Pendant ce temps, j'ai passé mes semaines à travailler et mes fins de semaine à étudier le Coréen.
          .span2.details
            %i.icon-comments-alt
            Acquisition du langage
            %br
            %i.icon-group
            Travail d'équipe
            %br
      .span6.company-profile.right
        .row#mandala
          %h4.company-name
            Mandala
            %small.title
              developeur
            %small.status
              %i.icon-time
              mai 2013
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p J'ai gagné 23e. prix dans la catégorie de l'innovation du concours de création de jeu vidéo Ludum Dare. Mandala, le jeu que j'ai créé pour le concours, était ma première expérience programmation de jeu vidéo. Mandala a été reçue avec intérêt par la communauté, et a apparu dans de nombreux blogs.
          .span2.details
            %i.icon-comments-alt
            prendre l'initiative
            %br
            %i.icon-group
            innovante
            %br
        .row#japanese-language-proficiency
          %h4.company-name
            Test d'aptitude en japonais
            %small.title
              niveaux N2
            %small.status
              %i.icon-time
              septembre 2011
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Réussi à obtenir le deuxième plus haut niveau de la test d'aptitude en japonais (JLPT). Wikipedia décrit ce niveau de maîtrise comme étant capable de comprendre des supports écrits ou oraux clairement sur un nombre étendu de sujets.
          .span2.details
            %i.icon-comments-alt
            patience
            %br
            %i.icon-group
            etude autodirige
            %br
        .row#art-martiaux
          %h4.company-name
            Queensborough Karatekan
            %small.title
              sensei
            %small.status
              %i.icon-time
              2003 à 2005
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Enseigner le Karate a des enfant et des adult dans un dojo a Vancouver. Apres etudie le karate pendant 13 annees, J'ai atteint un niveau de compétence qui m'a permis d'enseigner aux autres. J'ai enseigné pendant 2 ans, avant de déménager au Japon.
          .span2.details
            %i.icon-comments-alt
            Instruction
            %br
            %i.icon-group
            manager des gens
            %br
