#barista-experience.row.outer.grey-border
  .span12
    .row.section-header
      .span6
        = image_tag 'cajaDeLeche.png', class: "milk"
        %h3 Barista international
    .row.section-description
      .span6
        %p Après avoir passé une année à l'étranger au Japon, je voulais apprendre un métier ouvrant des portes à l'emploi international. Puisque Vancouver a la réputation d'être une ville du café, j'ai décidé de devenir un barista. A la fin d'une année passée à travailler à Vancouver, j'ai réalisé mon objectif: J'ai déménagé en Corée où j'ai vécu et travaillé comme barista pendant un an.
    .row.company-profiles
      .span6.company-profile.left
        .row#elysian-coffee
          %h4.company-name
            Elysian Coffee
            %small.title
              singing barista
            %small.status
              %i.glyphicon-refresh
              active
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p En tant que barista je suis devenu connu, souple et habile. Même après avoir quitté ce milieu, les clients réguliers demandent de mes nouvelles. De plus, je suis souvent invité à des party de bureau.
          .span2.details
            %i.glyphicon-coffe-cup
            Third Wave Coffee
            %br
            %i.glyphicon-star
            Spécialiste
            %br
            %i.glyphicon-user-add
            Travail d'équipe
      .span6.company-profile.right
        .row#kitchen-arista
          %h4.company-name
            Kitchen Arista
            %small.title
              barista
            %small.status
              %i.glyphicon-refresh
              active
            %small.status.international
              %i.glyphicon-airplane
              Corée
        .row#cafe-artigiano-seoul
          %h4.company-name
            Cafe Artigiano
            %small.title
              barista
            %small.status
              %i.glyphicon-refresh
              active
            %small.status.international
              %i.glyphicon-airplane
              Corée
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Je suis arrivé en Corée avec des capacités linguistiques limitées. Après un an, je suis devenu capable de tenir une conversation et de prendre des commandes. Pendant ce temps, j'ai passé mes semaines à travailler et mes fins de semaine à étudier le Coréen.
          .span2.details
            %i.glyphicon-comments
            Acquisition du langage
            %i.glyphicon-user-add
            Travail d'équipe
            %br
        .row#kona-coffee
          %h4.company-name
            Kona Coffee
            %small.title
              barista
            %small.status
              %i.glyphicon-refresh
              active
        .row#cafe-artigiano-vancouver
          %h4.company-name
            Cafe Artigiano
            %small.title
              wandering swordsman
            %small.status
              %i.glyphicon-refresh
              active
        .row#blenz-coffee
          %h4.company-name
            Blenz Coffee
            %small.title
              barista
            %small.status
              %i.glyphicon-refresh
              active
