.row.outer.grey-border.cover-letter
  .span12
    .cover-letter-header
      .date
        %span #{ DateTime.now.strftime('%a %d %b %Y') }
      .receiver-info
        .agent
          %span.name Gauthier Hebbelynck
          %br
          %span.title Head of Talent Acquisition
          %br
        .company
          %span.name SAP
        .address
          %span.street 32 Rue de Monceau
          %br
          %span.post-code 75008 Paris
      .regarding
        %h4 re: job-title
      %hr
    .cover-letter-body
      .text
        = image_tag 'ziggy-wizard.png', class: "wizard"
        %h4 Salutations
        %p Mon objectif est de donner le coup d'envoi à ma carriere internationale avec un stage chez SAP. En 2012 et 2013, j'ai suivi deux stages avec deux consultants en développement Web au Canada. Cela m'a appris à construire des outils de ligne de commande Unix/Linux. Je suis prêt à déménager à Paris pour relever le défi d'entreprendre une carrière stimulante et ambitieuse.
        %p En plus d'apprendre comment utiliser les technologies Web comme AJAX et REST, mes stages m'ont appris à utiliser la ligne de commande, et à suivre une discipline de travail. Lorsque je développe un outil ou une application propre, j'écris des tests unitaires, j'utilise un logiciel de version, et je sais comment mettre en service un serveur pour lancer une app. En bref, je suis familier avec toutes les étapes de développement de logiciels. Mes expériences ne sont pas limitées à l’ecole. Avec LastObelus, j'ai contribué à mettre en service 3 applications: deux pour usage interne (pour Sage, et Partnerpedia), et une app de OS X. Avec Webify Technology j'ai développé une application pour faciliter la procédure de téléchargement des fichiers vers un serveur Shopify (qui est un service hébergé de e commerce). Je travaille actuellement sur une application pour l'amorçage des projets Ruby on Rails.
        %p Je complète présentement ma troisième année d'université. Depuis que j'ai gradué de l'école secondaire, j'ai eu l'opportunité d'enrichir mon expérience professionnelle en occupant une diversité d'emplois tels que professeur, acteur et serveur. Professionnellement, j'ai également été exposé à de nouveaux contextes culturels et linguistiques en travaillant un an en Corée et un an au Japon. Je suis convaincu que mon expérience acquise au cours des dernières années pourrait apporter une contribution positive à votre équipe.
        %p Vous trouverez ci-joint une copie de mon curriculum vitae. J’apprécierais avoir l’opportunité de vous rencontrer afin de discuter de ma contribution potentielle à votre équipe. Je vous remercie pour votre temps et considération.
        %p Cordialement,
        %p Andre Byrne
