.container
  .row.header
    .span12
      .span3
        %p.address
          .span.name Andre Byrne
          %br
          .span 909 Lamey's Mill rd
          %br
          .span Vancouver, BC
          %br
          .span Canada&nbsp;&nbsp;V6H 3P4
      .span3
        %p.webs
          .span various.authors@gmail.com
          %br
          .span github.com/variousauthors
          %br
          .span @variousauthors
          %br
          .span 1 (604) 600-9053
      .span3
        %p.words
          Software, like poetry, should be free of authorship and ego. We have climbed our way from Lovelace to Liskov, at each step adding the contents of one tiny mind.
