.navbar-inner
  .container
    .row.header
      .span12
        .span3
          hey blah blah hey blah blah hey blah blah hey blah blah
        .span8
          .row
            .span3.smaller
              what hey blah blah hey blah blah hey blah blah hey blah blah
            .span4
              this hey blah blah hey blah blah hey blah blah hey blah blah
          .row
            .span8
              yes hey blah blah hey blah blah hey blah blah hey blah blah
