#programming-experience.row.outer.grey-border
  .span12
    .row.section-header
      .span6
        = image_tag 'ninja_desk.png', class: "ninja"
        %h3 Programmation Web
    .row.section-description
      .span6
        %p
          Au cours de l'été 2010, un habitué du café où je travaillais m'a demandé si je voulais être son stagiaire. Puisque l'entreprise était petite, j'ai eu l'occasion de contribuer à tous les aspects du développement web. En 2012, après avoir été recommandé à un collègue, j'ai commencé à travailler avec Webify Technology, où je travaille aujourd'hui..
    .row.company-profiles
      .span6.company-profile#webify-technology
        .row
          %h4.company-name
            Webify Technology
            %small.title
              junior web developer
            %small.status
              %i.icon-refresh
              depuis septembre 2012
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Construit le front-end d'un site e-commerce hébergé par Shopify, en suivant les maquettes fournies par notre designer. Nous avons utilisé HTML, CSS, et le langage de balisage “liquid”.
          .span2.details
            %i.icon-cloud
            Web Technologies
            %br
            %i.icon-picture
            HTML/CSS
            %br
            %i.icon-shopping-cart
            e commerce
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Développé en Ruby on Rails un outil pour mes collègues, qui facilite l'upload et le téléchargement de fichiers au sites Shopify.
          .span2.details
            %i.icon-exchange
            Shopify API
            %br
            %i.icon-heart
            Ruby
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Développé une application Shopify qui estime le prix d’expédition pour les pays qui n’ont pas déjà un tel outil fourni par Shopify. Responsable de la mise en œuvre du frontal JS et du back-end en utilisant Ruby on Rails. Bien sûr, j’ai aussi écrit des tests unitaires avec RSpec.
          .span2.details
            %i.icon-group
            Travail d'équipe
            %br
            %i.icon-th
            Database
            %br
            %i.glyphicon-train
            Ruby on Rails
            %br
            %i.icon-cogs
            JS/jQuery
      .span6.company-profile#lastobelus-consulting
        .row
          %h4.company-name
            LastObelus Consulting
            %small.title
              Intern
            %small.status
              %i.icon-time
              mai à septembre, 2011
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Pendant la première moitié du stage, j'ai travaillé dans une équipe « agile ». Nous avons planifié nos “sprints” à chaque semaine via skype.
          .span2.details
            %i.icon-globe
            Equipe international
            %br
            %i.icon-bolt
            &nbsp;Méthode agile
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Appris comment résoudre des problèmes de gestion de version, ou des conflit de modifications avec git. J'ai été tenu de me conformer à des bonnes pratiques, en particulier, d’écrire des commit expressifs et complets.
          .span2.details
            %i.icon-github
            gestion de version
            %br
            %i.icon-food
            Bonne pratique
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Réglé une demi-douzaine de tickets signalés par l’équipe d’assurance qualité, et mis en œuvre des tests unitaires pendant un contrat avec Sage pour développer BillingBoss.
          .span2.details
            %i.icon-check
            Assurance qualité
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Donné une présentation à la fin d'un contrat avec Partnerpedia, dans laquelle j'ai démontré aux parties prenantes l'outil que nous avons développé.
          .span2.details
            %i.icon-bullhorn
            Orateur
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p J'ai appris à naviguer dans l’interface en ligne de commande du linux et d'utiliser des outils tels que git, grep et vi. Aussi devenu capable d'installer et de maintenir un environnement de développement.
          .span2.details
            %i.icon-desktop
            Ligne de Commande
            %br
            %i.icon-wrench
            Devops
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Au cours des derniers mois de mon stage avec LastObelus, nous avons travaillé ensemble sur un de ses projets personnels, au cours de laquelle j'étais principalement responsable du développement de l'interface en utilisant Xcode/macRuby.
          .span2.details
            %i.icon-tablet
            Xcode/OSX
            %br
            %i.icon-edit
            Interface
