.header [class*="span"] {
  float: left;
  margin-left: 30px;
  min-height: 1px;
}

.header .span12 {
  padding-top: 20px;
}

.header .words {
  width: 200px;
  border-left: 4px solid #00AA00;
  padding-left: 10px;
}

.header .name {
  font-size: 22px;
  color: #0088AA;
}

