%html
  %head
    %link{:href => "./glyphicons-free.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      li{
      float:left;
      display:inline-block;
      width:250px;
      margin:5px;
      text-align:center;
      }
      span{
      display:block;
      }
  %body
    %ul
      %li
        %em.glyphicon-glass
        %span glyphicon-glass
      %li
        %em.glyphicon-leaf
        %span glyphicon-leaf
      %li
        %em.glyphicon-dog
        %span glyphicon-dog
      %li
        %em.glyphicon-user
        %span glyphicon-user
      %li
        %em.glyphicon-girl
        %span glyphicon-girl
      %li
        %em.glyphicon-car
        %span glyphicon-car
      %li
        %em.glyphicon-user-add
        %span glyphicon-user-add
      %li
        %em.glyphicon-user-remove
        %span glyphicon-user-remove
      %li
        %em.glyphicon-film
        %span glyphicon-film
      %li
        %em.glyphicon-magic
        %span glyphicon-magic
      %li
        %em.glyphicon-envelope
        %span glyphicon-envelope
      %li
        %em.glyphicon-camera
        %span glyphicon-camera
      %li
        %em.glyphicon-heart
        %span glyphicon-heart
      %li
        %em.glyphicon-beach-umbrella
        %span glyphicon-beach-umbrella
      %li
        %em.glyphicon-train
        %span glyphicon-train
      %li
        %em.glyphicon-print
        %span glyphicon-print
      %li
        %em.glyphicon-bin
        %span glyphicon-bin
      %li
        %em.glyphicon-music
        %span glyphicon-music
      %li
        %em.glyphicon-note
        %span glyphicon-note
      %li
        %em.glyphicon-cogwheel
        %span glyphicon-cogwheel
      %li
        %em.glyphicon-home
        %span glyphicon-home
      %li
        %em.glyphicon-snowflake
        %span glyphicon-snowflake
      %li
        %em.glyphicon-fire
        %span glyphicon-fire
      %li
        %em.glyphicon-cogwheels
        %span glyphicon-cogwheels
      %li
        %em.glyphicon-parents
        %span glyphicon-parents
      %li
        %em.glyphicon-binoculars
        %span glyphicon-binoculars
      %li
        %em.glyphicon-road
        %span glyphicon-road
      %li
        %em.glyphicon-search
        %span glyphicon-search
      %li
        %em.glyphicon-cars
        %span glyphicon-cars
      %li
        %em.glyphicon-notes-2
        %span glyphicon-notes-2
      %li
        %em.glyphicon-pencil
        %span glyphicon-pencil
      %li
        %em.glyphicon-bus
        %span glyphicon-bus
      %li
        %em.glyphicon-wifi-alt
        %span glyphicon-wifi-alt
      %li
        %em.glyphicon-luggage
        %span glyphicon-luggage
      %li
        %em.glyphicon-old-man
        %span glyphicon-old-man
      %li
        %em.glyphicon-woman
        %span glyphicon-woman
      %li
        %em.glyphicon-file
        %span glyphicon-file
      %li
        %em.glyphicon-credit
        %span glyphicon-credit
      %li
        %em.glyphicon-airplane
        %span glyphicon-airplane
      %li
        %em.glyphicon-notes
        %span glyphicon-notes
      %li
        %em.glyphicon-stats
        %span glyphicon-stats
      %li
        %em.glyphicon-charts
        %span glyphicon-charts
      %li
        %em.glyphicon-pie-chart
        %span glyphicon-pie-chart
      %li
        %em.glyphicon-group
        %span glyphicon-group
      %li
        %em.glyphicon-keys
        %span glyphicon-keys
      %li
        %em.glyphicon-calendar
        %span glyphicon-calendar
      %li
        %em.glyphicon-router
        %span glyphicon-router
      %li
        %em.glyphicon-camera-small
        %span glyphicon-camera-small
      %li
        %em.glyphicon-dislikes
        %span glyphicon-dislikes
      %li
        %em.glyphicon-star
        %span glyphicon-star
      %li
        %em.glyphicon-link
        %span glyphicon-link
      %li
        %em.glyphicon-eye-open
        %span glyphicon-eye-open
      %li
        %em.glyphicon-eye-close
        %span glyphicon-eye-close
      %li
        %em.glyphicon-alarm
        %span glyphicon-alarm
      %li
        %em.glyphicon-clock
        %span glyphicon-clock
      %li
        %em.glyphicon-stopwatch
        %span glyphicon-stopwatch
      %li
        %em.glyphicon-projector
        %span glyphicon-projector
      %li
        %em.glyphicon-history
        %span glyphicon-history
      %li
        %em.glyphicon-truck
        %span glyphicon-truck
      %li
        %em.glyphicon-cargo
        %span glyphicon-cargo
      %li
        %em.glyphicon-compass
        %span glyphicon-compass
      %li
        %em.glyphicon-keynote
        %span glyphicon-keynote
      %li
        %em.glyphicon-attach
        %span glyphicon-attach
      %li
        %em.glyphicon-power
        %span glyphicon-power
      %li
        %em.glyphicon-lightbulb
        %span glyphicon-lightbulb
      %li
        %em.glyphicon-tag
        %span glyphicon-tag
      %li
        %em.glyphicon-tags
        %span glyphicon-tags
      %li
        %em.glyphicon-cleaning
        %span glyphicon-cleaning
      %li
        %em.glyphicon-ruller
        %span glyphicon-ruller
      %li
        %em.glyphicon-gift
        %span glyphicon-gift
      %li
        %em.glyphicon-umbrella
        %span glyphicon-umbrella
      %li
        %em.glyphicon-book
        %span glyphicon-book
      %li
        %em.glyphicon-bookmark
        %span glyphicon-bookmark
      %li
        %em.glyphicon-signal
        %span glyphicon-signal
      %li
        %em.glyphicon-cup
        %span glyphicon-cup
      %li
        %em.glyphicon-stroller
        %span glyphicon-stroller
      %li
        %em.glyphicon-headphones
        %span glyphicon-headphones
      %li
        %em.glyphicon-headset
        %span glyphicon-headset
      %li
        %em.glyphicon-warning-sign
        %span glyphicon-warning-sign
      %li
        %em.glyphicon-signal
        %span glyphicon-signal
      %li
        %em.glyphicon-retweet
        %span glyphicon-retweet
      %li
        %em.glyphicon-refresh
        %span glyphicon-refresh
      %li
        %em.glyphicon-roundabout
        %span glyphicon-roundabout
      %li
        %em.glyphicon-random
        %span glyphicon-random
      %li
        %em.glyphicon-heat
        %span glyphicon-heat
      %li
        %em.glyphicon-repeat
        %span glyphicon-repeat
      %li
        %em.glyphicon-display
        %span glyphicon-display
      %li
        %em.glyphicon-log-book
        %span glyphicon-log-book
      %li
        %em.glyphicon-adress-book
        %span glyphicon-adress-book
      %li
        %em.glyphicon-magnet
        %span glyphicon-magnet
      %li
        %em.glyphicon-table
        %span glyphicon-table
      %li
        %em.glyphicon-adjust
        %span glyphicon-adjust
      %li
        %em.glyphicon-tint
        %span glyphicon-tint
      %li
        %em.glyphicon-crop
        %span glyphicon-crop
      %li
        %em.glyphicon-vector-path-square
        %span glyphicon-vector-path-square
      %li
        %em.glyphicon-vector-path-circle
        %span glyphicon-vector-path-circle
      %li
        %em.glyphicon-vector-path-polygon
        %span glyphicon-vector-path-polygon
      %li
        %em.glyphicon-vector-path-line
        %span glyphicon-vector-path-line
      %li
        %em.glyphicon-vector-path-curve
        %span glyphicon-vector-path-curve
      %li
        %em.glyphicon-vector-path-all
        %span glyphicon-vector-path-all
      %li
        %em.glyphicon-font
        %span glyphicon-font
      %li
        %em.glyphicon-italic
        %span glyphicon-italic
      %li
        %em.glyphicon-bold
        %span glyphicon-bold
      %li
        %em.glyphicon-text-underline
        %span glyphicon-text-underline
      %li
        %em.glyphicon-text-strike
        %span glyphicon-text-strike
      %li
        %em.glyphicon-text-height
        %span glyphicon-text-height
      %li
        %em.glyphicon-text-width
        %span glyphicon-text-width
      %li
        %em.glyphicon-text-resize
        %span glyphicon-text-resize
      %li
        %em.glyphicon-left-indent
        %span glyphicon-left-indent
      %li
        %em.glyphicon-right-indent
        %span glyphicon-right-indent
      %li
        %em.glyphicon-align-left
        %span glyphicon-align-left
      %li
        %em.glyphicon-align-center
        %span glyphicon-align-center
      %li
        %em.glyphicon-align-right
        %span glyphicon-align-right
      %li
        %em.glyphicon-justify
        %span glyphicon-justify
      %li
        %em.glyphicon-list
        %span glyphicon-list
      %li
        %em.glyphicon-text-smaller
        %span glyphicon-text-smaller
      %li
        %em.glyphicon-text-bigger
        %span glyphicon-text-bigger
      %li
        %em.glyphicon-embed
        %span glyphicon-embed
      %li
        %em.glyphicon-embed-close
        %span glyphicon-embed-close
      %li
        %em.glyphicon-adjust
        %span glyphicon-adjust
      %li
        %em.glyphicon-message-full
        %span glyphicon-message-full
      %li
        %em.glyphicon-message-empty
        %span glyphicon-message-empty
      %li
        %em.glyphicon-message-in
        %span glyphicon-message-in
      %li
        %em.glyphicon-message-out
        %span glyphicon-message-out
      %li
        %em.glyphicon-message-plus
        %span glyphicon-message-plus
      %li
        %em.glyphicon-message-minus
        %span glyphicon-message-minus
      %li
        %em.glyphicon-message-ban
        %span glyphicon-message-ban
      %li
        %em.glyphicon-message-flag
        %span glyphicon-message-flag
      %li
        %em.glyphicon-message-lock
        %span glyphicon-message-lock
      %li
        %em.glyphicon-message-new
        %span glyphicon-message-new
      %li
        %em.glyphicon-inbox
        %span glyphicon-inbox
      %li
        %em.glyphicon-inbox-plus
        %span glyphicon-inbox-plus
      %li
        %em.glyphicon-inbox-minus
        %span glyphicon-inbox-minus
      %li
        %em.glyphicon-inbox-lock
        %span glyphicon-inbox-lock
      %li
        %em.glyphicon-inbox-in
        %span glyphicon-inbox-in
      %li
        %em.glyphicon-inbox-out
        %span glyphicon-inbox-out
      %li
        %em.glyphicon-computer-locked
        %span glyphicon-computer-locked
      %li
        %em.glyphicon-computer-service
        %span glyphicon-computer-service
      %li
        %em.glyphicon-computer-proces
        %span glyphicon-computer-proces
      %li
        %em.glyphicon-phone
        %span glyphicon-phone
      %li
        %em.glyphicon-database-lock
        %span glyphicon-database-lock
      %li
        %em.glyphicon-database-plus
        %span glyphicon-database-plus
      %li
        %em.glyphicon-database-minus
        %span glyphicon-database-minus
      %li
        %em.glyphicon-database-ban
        %span glyphicon-database-ban
      %li
        %em.glyphicon-folder-open
        %span glyphicon-folder-open
      %li
        %em.glyphicon-folder-plus
        %span glyphicon-folder-plus
      %li
        %em.glyphicon-folder-minus
        %span glyphicon-folder-minus
      %li
        %em.glyphicon-folder-lock
        %span glyphicon-folder-lock
      %li
        %em.glyphicon-folder-flag
        %span glyphicon-folder-flag
      %li
        %em.glyphicon-folder-new
        %span glyphicon-folder-new
      %li
        %em.glyphicon-check
        %span glyphicon-check
      %li
        %em.glyphicon-edit
        %span glyphicon-edit
      %li
        %em.glyphicon-new-window
        %span glyphicon-new-window
      %li
        %em.glyphicon-more-windows
        %span glyphicon-more-windows
      %li
        %em.glyphicon-show-big-thumbnails
        %span glyphicon-show-big-thumbnails
      %li
        %em.glyphicon-show-thumbnails
        %span glyphicon-show-thumbnails
      %li
        %em.glyphicon-show-thumbnails-with-lines
        %span glyphicon-show-thumbnails-with-lines
      %li
        %em.glyphicon-show-lines
        %span glyphicon-show-lines
      %li
        %em.glyphicon-playlist
        %span glyphicon-playlist
      %li
        %em.glyphicon-picture
        %span glyphicon-picture
      %li
        %em.glyphicon-imac
        %span glyphicon-imac
      %li
        %em.glyphicon-macbook
        %span glyphicon-macbook
      %li
        %em.glyphicon-ipad
        %span glyphicon-ipad
      %li
        %em.glyphicon-iphone
        %span glyphicon-iphone
      %li
        %em.glyphicon-iphone-transfer
        %span glyphicon-iphone-transfer
      %li
        %em.glyphicon-iphone-exchange
        %span glyphicon-iphone-exchange
      %li
        %em.glyphicon-ipod
        %span glyphicon-ipod
      %li
        %em.glyphicon-ipod-shuffle
        %span glyphicon-ipod-shuffle
      %li
        %em.glyphicon-ear-plugs
        %span glyphicon-ear-plugs
      %li
        %em.glyphicon-albums
        %span glyphicon-albums
      %li
        %em.glyphicon-step-backward
        %span glyphicon-step-backward
      %li
        %em.glyphicon-fast-backward
        %span glyphicon-fast-backward
      %li
        %em.glyphicon-rewind
        %span glyphicon-rewind
      %li
        %em.glyphicon-play
        %span glyphicon-play
      %li
        %em.glyphicon-pause
        %span glyphicon-pause
      %li
        %em.glyphicon-stop
        %span glyphicon-stop
      %li
        %em.glyphicon-forward
        %span glyphicon-forward
      %li
        %em.glyphicon-fast-forward
        %span glyphicon-fast-forward
      %li
        %em.glyphicon-step-forward
        %span glyphicon-step-forward
      %li
        %em.glyphicon-eject
        %span glyphicon-eject
      %li
        %em.glyphicon-facetime-video
        %span glyphicon-facetime-video
      %li
        %em.glyphicon-download-alt
        %span glyphicon-download-alt
      %li
        %em.glyphicon-mute
        %span glyphicon-mute
      %li
        %em.glyphicon-volume-down
        %span glyphicon-volume-down
      %li
        %em.glyphicon-volume-up
        %span glyphicon-volume-up
      %li
        %em.glyphicon-screenshot
        %span glyphicon-screenshot
      %li
        %em.glyphicon-move
        %span glyphicon-move
      %li
        %em.glyphicon-more
        %span glyphicon-more
      %li
        %em.glyphicon-brightness-reduce
        %span glyphicon-brightness-reduce
      %li
        %em.glyphicon-brightness-increase
        %span glyphicon-brightness-increase
      %li
        %em.glyphicon-circle-plus
        %span glyphicon-circle-plus
      %li
        %em.glyphicon-circle-minus
        %span glyphicon-circle-minus
      %li
        %em.glyphicon-circle-remove
        %span glyphicon-circle-remove
      %li
        %em.glyphicon-circle-ok
        %span glyphicon-circle-ok
      %li
        %em.glyphicon-circle-question-mark
        %span glyphicon-circle-question-mark
      %li
        %em.glyphicon-circle-info
        %span glyphicon-circle-info
      %li
        %em.glyphicon-circle-exclamation-mark
        %span glyphicon-circle-exclamation-mark
      %li
        %em.glyphicon-remove
        %span glyphicon-remove
      %li
        %em.glyphicon-ok
        %span glyphicon-ok
      %li
        %em.glyphicon-ban
        %span glyphicon-ban
      %li
        %em.glyphicon-download
        %span glyphicon-download
      %li
        %em.glyphicon-upload
        %span glyphicon-upload
      %li
        %em.glyphicon-shopping-cart
        %span glyphicon-shopping-cart
      %li
        %em.glyphicon-lock
        %span glyphicon-lock
      %li
        %em.glyphicon-unlock
        %span glyphicon-unlock
      %li
        %em.glyphicon-electricity
        %span glyphicon-electricity
      %li
        %em.glyphicon-ok-2
        %span glyphicon-ok-2
      %li
        %em.glyphicon-remove-2
        %span glyphicon-remove-2
      %li
        %em.glyphicon-cart-out
        %span glyphicon-cart-out
      %li
        %em.glyphicon-cart-in
        %span glyphicon-cart-in
      %li
        %em.glyphicon-left-arrow
        %span glyphicon-left-arrow
      %li
        %em.glyphicon-right-arrow
        %span glyphicon-right-arrow
      %li
        %em.glyphicon-down-arrow
        %span glyphicon-down-arrow
      %li
        %em.glyphicon-up-arrow
        %span glyphicon-up-arrow
      %li
        %em.glyphicon-resize-small
        %span glyphicon-resize-small
      %li
        %em.glyphicon-resize-full
        %span glyphicon-resize-full
      %li
        %em.glyphicon-circle-arrow-left
        %span glyphicon-circle-arrow-left
      %li
        %em.glyphicon-circle-arrow-right
        %span glyphicon-circle-arrow-right
      %li
        %em.glyphicon-circle-arrow-top
        %span glyphicon-circle-arrow-top
      %li
        %em.glyphicon-circle-arrow-down
        %span glyphicon-circle-arrow-down
      %li
        %em.glyphicon-play-button
        %span glyphicon-play-button
      %li
        %em.glyphicon-unshare
        %span glyphicon-unshare
      %li
        %em.glyphicon-share
        %span glyphicon-share
      %li
        %em.glyphicon-thin-right-arrow
        %span glyphicon-thin-right-arrow
      %li
        %em.glyphicon-thin-arrow-left
        %span glyphicon-thin-arrow-left
      %li
        %em.glyphicon-bluetooth
        %span glyphicon-bluetooth
      %li
        %em.glyphicon-euro
        %span glyphicon-euro
      %li
        %em.glyphicon-usd
        %span glyphicon-usd
      %li
        %em.glyphicon-bp
        %span glyphicon-bp
      %li
        %em.glyphicon-retweet-2
        %span glyphicon-retweet-2
      %li
        %em.glyphicon-moon
        %span glyphicon-moon
      %li
        %em.glyphicon-sun
        %span glyphicon-sun
      %li
        %em.glyphicon-cloud
        %span glyphicon-cloud
      %li
        %em.glyphicon-direction
        %span glyphicon-direction
      %li
        %em.glyphicon-brush
        %span glyphicon-brush
      %li
        %em.glyphicon-pen
        %span glyphicon-pen
      %li
        %em.glyphicon-zoom-in
        %span glyphicon-zoom-in
      %li
        %em.glyphicon-zoom-out
        %span glyphicon-zoom-out
      %li
        %em.glyphicon-pin
        %span glyphicon-pin
      %li
        %em.glyphicon-riflescope
        %span glyphicon-riflescope
      %li
        %em.glyphicon-rotation-lock
        %span glyphicon-rotation-lock
      %li
        %em.glyphicon-flash
        %span glyphicon-flash
      %li
        %em.glyphicon-google-maps
        %span glyphicon-google-maps
      %li
        %em.glyphicon-anchor
        %span glyphicon-anchor
      %li
        %em.glyphicon-conversation
        %span glyphicon-conversation
      %li
        %em.glyphicon-chat
        %span glyphicon-chat
      %li
        %em.glyphicon-male
        %span glyphicon-male
      %li
        %em.glyphicon-female
        %span glyphicon-female
      %li
        %em.glyphicon-asterisk
        %span glyphicon-asterisk
      %li
        %em.glyphicon-divide
        %span glyphicon-divide
      %li
        %em.glyphicon-snorkel-diving
        %span glyphicon-snorkel-diving
      %li
        %em.glyphicon-scuba-diving
        %span glyphicon-scuba-diving
      %li
        %em.glyphicon-oxygen-bottle
        %span glyphicon-oxygen-bottle
      %li
        %em.glyphicon-fins
        %span glyphicon-fins
      %li
        %em.glyphicon-fishes
        %span glyphicon-fishes
      %li
        %em.glyphicon-boat
        %span glyphicon-boat
      %li
        %em.glyphicon-delete-point
        %span glyphicon-delete-point
      %li
        %em.glyphicon-sheriffs--star
        %span glyphicon-sheriffs--star
      %li
        %em.glyphicon-qrcode
        %span glyphicon-qrcode
      %li
        %em.glyphicon-barcode
        %span glyphicon-barcode
      %li
        %em.glyphicon-pool
        %span glyphicon-pool
      %li
        %em.glyphicon-buoy
        %span glyphicon-buoy
      %li
        %em.glyphicon-spade
        %span glyphicon-spade
      %li
        %em.glyphicon-bank
        %span glyphicon-bank
      %li
        %em.glyphicon-vcard
        %span glyphicon-vcard
      %li
        %em.glyphicon-electrical-plug
        %span glyphicon-electrical-plug
      %li
        %em.glyphicon-flag
        %span glyphicon-flag
      %li
        %em.glyphicon-credit-card
        %span glyphicon-credit-card
      %li
        %em.glyphicon-keyboard-wireless
        %span glyphicon-keyboard-wireless
      %li
        %em.glyphicon-keyboard-wired
        %span glyphicon-keyboard-wired
      %li
        %em.glyphicon-shield
        %span glyphicon-shield
      %li
        %em.glyphicon-ring
        %span glyphicon-ring
      %li
        %em.glyphicon-cake
        %span glyphicon-cake
      %li
        %em.glyphicon-drink
        %span glyphicon-drink
      %li
        %em.glyphicon-beer
        %span glyphicon-beer
      %li
        %em.glyphicon-fast-food
        %span glyphicon-fast-food
      %li
        %em.glyphicon-cutlery
        %span glyphicon-cutlery
      %li
        %em.glyphicon-pizza
        %span glyphicon-pizza
      %li
        %em.glyphicon-birthday-cake
        %span glyphicon-birthday-cake
      %li
        %em.glyphicon-tablet
        %span glyphicon-tablet
      %li
        %em.glyphicon-settings
        %span glyphicon-settings
      %li
        %em.glyphicon-bullets
        %span glyphicon-bullets
      %li
        %em.glyphicon-cardio
        %span glyphicon-cardio
      %li
        %em.glyphicon-t-shirt
        %span glyphicon-t-shirt
      %li
        %em.glyphicon-pants
        %span glyphicon-pants
      %li
        %em.glyphicon-sweater
        %span glyphicon-sweater
      %li
        %em.glyphicon-fabric
        %span glyphicon-fabric
      %li
        %em.glyphicon-leather
        %span glyphicon-leather
      %li
        %em.glyphicon-scissors
        %span glyphicon-scissors
      %li
        %em.glyphicon-podium
        %span glyphicon-podium
      %li
        %em.glyphicon-skull
        %span glyphicon-skull
      %li
        %em.glyphicon-celebration
        %span glyphicon-celebration
      %li
        %em.glyphicon-tea-kettle
        %span glyphicon-tea-kettle
      %li
        %em.glyphicon-french-press
        %span glyphicon-french-press
      %li
        %em.glyphicon-coffe-cup
        %span glyphicon-coffe-cup
      %li
        %em.glyphicon-pot
        %span glyphicon-pot
      %li
        %em.glyphicon-grater
        %span glyphicon-grater
      %li
        %em.glyphicon-kettle
        %span glyphicon-kettle
      %li
        %em.glyphicon-hospital
        %span glyphicon-hospital
      %li
        %em.glyphicon-hospital-h
        %span glyphicon-hospital-h
      %li
        %em.glyphicon-microphone
        %span glyphicon-microphone
      %li
        %em.glyphicon-webcam
        %span glyphicon-webcam
      %li
        %em.glyphicon-temple-christianity-church
        %span glyphicon-temple-christianity-church
      %li
        %em.glyphicon-temple-islam
        %span glyphicon-temple-islam
      %li
        %em.glyphicon-temple-hindu
        %span glyphicon-temple-hindu
      %li
        %em.glyphicon-temple-buddhist
        %span glyphicon-temple-buddhist
      %li
        %em.glyphicon-electrical-socket-eu
        %span glyphicon-electrical-socket-eu
      %li
        %em.glyphicon-electrical-socket-us
        %span glyphicon-electrical-socket-us
      %li
        %em.glyphicon-bomb
        %span glyphicon-bomb
      %li
        %em.glyphicon-comments
        %span glyphicon-comments
      %li
        %em.glyphicon-flower
        %span glyphicon-flower
      %li
        %em.glyphicon-baseball
        %span glyphicon-baseball
      %li
        %em.glyphicon-rugby
        %span glyphicon-rugby
      %li
        %em.glyphicon-ax
        %span glyphicon-ax
      %li
        %em.glyphicon-table-tennis
        %span glyphicon-table-tennis
      %li
        %em.glyphicon-bowling
        %span glyphicon-bowling
      %li
        %em.glyphicon-tree-conifer
        %span glyphicon-tree-conifer
      %li
        %em.glyphicon-tree-deciduous
        %span glyphicon-tree-deciduous
      %li
        %em.glyphicon-more-items
        %span glyphicon-more-items
      %li
        %em.glyphicon-sort
        %span glyphicon-sort
      %li
        %em.glyphicon-filter
        %span glyphicon-filter
      %li
        %em.glyphicon-gamepad
        %span glyphicon-gamepad
      %li
        %em.glyphicon-playing-dices
        %span glyphicon-playing-dices
      %li
        %em.glyphicon-calculator
        %span glyphicon-calculator
      %li
        %em.glyphicon-tie
        %span glyphicon-tie
      %li
        %em.glyphicon-wallet
        %span glyphicon-wallet
      %li
        %em.glyphicon-share
        %span glyphicon-share
      %li
        %em.glyphicon-sampler
        %span glyphicon-sampler
      %li
        %em.glyphicon-piano
        %span glyphicon-piano
      %li
        %em.glyphicon-web-browser
        %span glyphicon-web-browser
      %li
        %em.glyphicon-blog
        %span glyphicon-blog
      %li
        %em.glyphicon-dashboard
        %span glyphicon-dashboard
      %li
        %em.glyphicon-certificate
        %span glyphicon-certificate
      %li
        %em.glyphicon-bell
        %span glyphicon-bell
      %li
        %em.glyphicon-candle
        %span glyphicon-candle
      %li
        %em.glyphicon-pin-classic
        %span glyphicon-pin-classic
      %li
        %em.glyphicon-iphone-shake
        %span glyphicon-iphone-shake
      %li
        %em.glyphicon-pin-flag
        %span glyphicon-pin-flag
      %li
        %em.glyphicon-turtle
        %span glyphicon-turtle
      %li
        %em.glyphicon-rabbit
        %span glyphicon-rabbit
      %li
        %em.glyphicon-globe
        %span glyphicon-globe
      %li
        %em.glyphicon-briefcase
        %span glyphicon-briefcase
      %li
        %em.glyphicon-hdd
        %span glyphicon-hdd
      %li
        %em.glyphicon-thumbs-up
        %span glyphicon-thumbs-up
      %li
        %em.glyphicon-thumbs-down
        %span glyphicon-thumbs-down
      %li
        %em.glyphicon-hand-right
        %span glyphicon-hand-right
      %li
        %em.glyphicon-hand-left
        %span glyphicon-hand-left
      %li
        %em.glyphicon-hand-up
        %span glyphicon-hand-up
      %li
        %em.glyphicon-hand-down
        %span glyphicon-hand-down
      %li
        %em.glyphicon-fullscreen
        %span glyphicon-fullscreen
      %li
        %em.glyphicon-shopping-bag
        %span glyphicon-shopping-bag
      %li
        %em.glyphicon-book-open
        %span glyphicon-book-open
      %li
        %em.glyphicon-nameplate
        %span glyphicon-nameplate
      %li
        %em.glyphicon-nameplate-alt
        %span glyphicon-nameplate-alt
      %li
        %em.glyphicon-vases
        %span glyphicon-vases
      %li
        %em.glyphicon-announcement
        %span glyphicon-announcement
      %li
        %em.glyphicon-dumbbell
        %span glyphicon-dumbbell
      %li
        %em.glyphicon-suitcase
        %span glyphicon-suitcase
      %li
        %em.glyphicon-file-import
        %span glyphicon-file-import
      %li
        %em.glyphicon-file-export
        %span glyphicon-file-export
      %li
        %em.glyphicon-pinterest
        %span glyphicon-pinterest
      %li
        %em.glyphicon-dropbox
        %span glyphicon-dropbox
      %li
        %em.glyphicon-google-alt
        %span glyphicon-google-alt
      %li
        %em.glyphicon-jolicloud
        %span glyphicon-jolicloud
      %li
        %em.glyphicon-yahoo
        %span glyphicon-yahoo
      %li
        %em.glyphicon-blogger
        %span glyphicon-blogger
      %li
        %em.glyphicon-picasa
        %span glyphicon-picasa
      %li
        %em.glyphicon-amazon
        %span glyphicon-amazon
      %li
        %em.glyphicon-tumblr
        %span glyphicon-tumblr
      %li
        %em.glyphicon-wordpress
        %span glyphicon-wordpress
      %li
        %em.glyphicon-instapaper
        %span glyphicon-instapaper
      %li
        %em.glyphicon-evernote
        %span glyphicon-evernote
      %li
        %em.glyphicon-xing
        %span glyphicon-xing
      %li
        %em.glyphicon-zootool
        %span glyphicon-zootool
      %li
        %em.glyphicon-dribbble
        %span glyphicon-dribbble
      %li
        %em.glyphicon-deviantart
        %span glyphicon-deviantart
      %li
        %em.glyphicon-read-it-later
        %span glyphicon-read-it-later
      %li
        %em.glyphicon-linked-in
        %span glyphicon-linked-in
      %li
        %em.glyphicon-forrst
        %span glyphicon-forrst
      %li
        %em.glyphicon-pinboard
        %span glyphicon-pinboard
      %li
        %em.glyphicon-behance
        %span glyphicon-behance
      %li
        %em.glyphicon-github
        %span glyphicon-github
      %li
        %em.glyphicon-youtube
        %span glyphicon-youtube
      %li
        %em.glyphicon-skitch
        %span glyphicon-skitch
      %li
        %em.glyphicon-4square
        %span glyphicon-4square
      %li
        %em.glyphicon-quora
        %span glyphicon-quora
      %li
        %em.glyphicon-google-plus
        %span glyphicon-google-plus
      %li
        %em.glyphicon-spootify
        %span glyphicon-spootify
      %li
        %em.glyphicon-stumbleupon
        %span glyphicon-stumbleupon
      %li
        %em.glyphicon-readability
        %span glyphicon-readability
      %li
        %em.glyphicon-facebook
        %span glyphicon-facebook
      %li
        %em.glyphicon-twitter-t
        %span glyphicon-twitter-t
      %li
        %em.glyphicon-twitter
        %span glyphicon-twitter
      %li
        %em.glyphicon-buzz
        %span glyphicon-buzz
      %li
        %em.glyphicon-vimeo
        %span glyphicon-vimeo
      %li
        %em.glyphicon-flickr
        %span glyphicon-flickr
      %li
        %em.glyphicon-last-fm
        %span glyphicon-last-fm
      %li
        %em.glyphicon-rss
        %span glyphicon-rss
      %li
        %em.glyphicon-skype
        %span glyphicon-skype
      %li
        %em.glyphicon-e-mail
        %span glyphicon-e-mail
