  #barista-experience > .span12 {
    height: 425px;
  }

  #barista-experience.row.outer.grey-border {
    height: 685px;
  }

  #barista-experience .span6.company-profile.right {
    position: relative;
    top: -254px;
  }

  #barista-experience .span6.company-profile.left {
    position: relative;
    top: -19px;
  }
