  #programming-experience.outer.grey-border {
    height: 1081px;
  }

  #programming-experience > .span12 {
    height: 668px;
  }

  #programming-experience .section-header > .span6 {
    width: 550px;
  }

  #programming-experience .section-description > .span6 {
    width: 550px;
  }

  #webify-technology.span6.company-profile {
    position: relative;
    top: 12px;
  }

  #lastobelus-consulting.span6.company-profile {
    position: relative;
    top: -728px;
  }

  #coursavenue .company-name {
    background-color: limegreen;
  }

  #coursavenue .work-statement {
    background-color: limegreen;
  }

  #programming-experience .new {
      background-color: limegreen;
  }
