
@media print {

  body {
    font-size: 13px;
  }

  footer {
    font-size: 11px;
  }

  .outer .span6 {
    width: 700px !important;
    padding:0px;
  }

  .outer.grey-border {
    page-break-after: avoid;
    min-height: 1000px;
  }

  .company-profile {
    clear:both;
  }

  .section-description p {
    margin-right:20px;
  }

  .section-header img {
    float: left;
    margin-right:10px;
    margin-bottom:10px;
  }

  .work-statement .gutter-for-icon { width: 5%; }
  .work-statement .statement { width: 68%; }
  .work-statement .details { width: 24%; }

  .work-statement .gutter-for-icon,
  .work-statement .statement,
  .work-statement .details {
    float: left;
    margin: 0px 5px 5px 0px;
  }

  .work-statement .details,
  .work-statement .gutter-for-icon {
    padding-top: 10px;
    padding-left: 10px;
  }

  .work-statement .statement { 
    width: 420px;
  }

  .work-statement .statement p {
    margin:0px;
  }

  .work-statement:before { clear: both; display: table; content:""; }
  .work-statement:after { clear: both; display: table; content:""; }

  .work-statement {
    width: 95%;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    padding:2px;
  }

  .company-profile .row {
    width: 95%;
    margin: 0px;
  }

  .company-name {
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 5px 5px 0 0;
    line-height: 40px;
    margin-bottom: 0;
    padding-left: 30px;
    width: 639px;
  }

  .company-name .status {
    padding-right: 20px;
    float: right;
    color: #00AA00;
  }

  .company-name .title {
    padding-left: 20px;
    color: #0088AA;
  }

  .outer.grey-border {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    page-break-after: always;
  }

  #assurance-qualite { display:none; }

  .status i {
    color: black;
  }

}

/* applies to desktop */
@media (min-width: 1200px) { }

/* applies to printing in Chrome */
@media (max-width: 767px) {

  .header .span3 {
    border-radius: 0px 10px 0px 0px;
  }

  .outer .span6 {
    width: 700px !important;
    border:1px solid #AA0000;
    padding:0px;
  }

  .outer.grey-border {
    page-break-after: avoid;
  }
}

/* applies to print-preview styles in firefox */
@media (max-width: 480px) {

  .header .span3 {
    border-radius: 0px 10px 0px 0px;
  }

  .outer .span6 {
    width: 700px !important;
    border:1px solid #AA0000;
    padding:0px;
  }

  .outer.grey-border {
    page-break-after: avoid;
  }

}

