.row.outer.grey-border.cover-letter
  .span8
    .cover-letter-header
      .date
        %span #{ DateTime.now.strftime('%a %d %b %Y') }
      .receiver-info
        .agent
          %span.name Gauthier Hebbelynck
          %br
          %span.title Head of Talent Acquisition
          %br
        .company
          %span.name SAP
        .address
          %span.street 32 Rue de Monceau
          %br
          %span.post-code 75008 Paris
      .regarding
        %h4 re: Stage développement d'un outil (HTML5)
      %hr
    .cover-letter-body
      .text
        = image_tag 'ziggy-wizard.png', class: "wizard"
        %h4 Salutations
        %p Mon objectif est de donner le coup d'envoi à ma carriere internationale avec un stage a Paris. En 2012 et 2013, j'ai suivi deux stages avec deux consultants en développement Web au Canada. Cela m'a appris à construire des outils de ligne de commande Unix/Linux. Je suis prêt à déménager à Paris pour relever le défi d'entreprendre une carrière stimulante et ambitieuse.
        %p En plus d'apprendre comment utiliser les technologies Web comme AJAX et REST, mes stages m'ont appris à utiliser la ligne de commande, et à suivre une discipline de travail. Lorsque je développe un outil ou une application propre, j'écris des tests unitaires, j'utilise un logiciel de version, et je sais comment mettre en service un serveur pour lancer une app. En bref, je suis familier avec toutes les étapes de développement de logiciels. Mes expériences ne sont pas limitées à l’ecole. Avec LastObelus, j'ai contribué à mettre en service 3 applications: deux pour usage interne (pour Sage, et Partnerpedia), et une app de OS X. Avec Webify Technology j'ai développé une application pour faciliter la procédure de téléchargement des fichiers vers un serveur Shopify (qui est un service hébergé de e commerce). Je travaille actuellement sur une application pour l'amorçage des projets Ruby on Rails.
        %p Je complète présentement ma troisième année d'université. Depuis que j'ai gradué de l'école secondaire, j'ai eu l'opportunité d'enrichir mon expérience professionnelle en occupant une diversité d'emplois tels que professeur, acteur et serveur. Professionnellement, j'ai également été exposé à de nouveaux contextes culturels et linguistiques en travaillant un an en Corée et un an au Japon. Je suis convaincu que mon expérience acquise au cours des dernières années pourrait apporter une contribution positive à votre équipe.
        %p Cordialement,
        %p Andre Byrne
  .span4
    .row-fluid
      .span12.awesome-links
        %h4 Awesome Links
        %ul.links.nav.nav-list
          %li.nav-header.github
            %a my coolest repos
          %li
            .link
              %a{ href: 'https://github.com/variousauthors/resume-portfolio' } resume-portfolio
              %small this resume!
          %li
            .link
              %a{ href: 'https://github.com/variousauthors/arrogantgamer' } arrogantgamer
              %small my blog about video games.
          %li
            .link
              %a{ href: 'https://github.com/variousauthors/mandala' } mandala
              %small my very first video game!
          %li
            .link
              %a{ href: 'https://github.com/variousauthors/shopifydev' } shopifydev
              %small a tool for shopify developers.
          %li
            .link
              %a{ href: 'https://github.com/variousauthors/vash' } vash
              %small command-line interpreter written in C.
          %li
            .link
              %a{ href: '' }
              %small
          %li
            .link
              %a{ href: '' }
              %small
          %li.nav-header.github
            %a websites I helped build
          %li
            .link
              %a{ href: '' } elysian coffee
              %small I worked there for years!
          %li
            .link
              %a{ href: 'http://elroyapparel.com/' } elroy apparel
              %small a small fashion boutique.
          %li
            .link
              %a{ href: '' }
              %small
          %li.nav-header.github
            %a praise I've received
          %li
            .link
              %a{ href: 'http://www.freeindiegam.es/2013/05/mandala-arrogant-gamer/' } freeindiegam.es
              %small chose to share my game.
          %li
            .link
              %a{ href: 'http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=22995' } ludumdare.com
              %small lots of nice comments!
