#education.row.outer.grey-border
  .span12
    .row.section-header
      .span6
        = image_tag 'muscle.png', class: "muscle"
        %h3 Education
    .row.section-description
      .span6
        %p En 2008 j'ai découvert ma passion pour la programmation. J'ais pris deux an pour apprendre les mathématiques de niveau lycées. Ma vie avant cette prise de conscience a été principalement concerné par l'étude des Sinogrammes; ma nouvelle direction m'a appris un mode de pensée qui était pour moi complètement inconnu.
    .row.company-profiles
      .span6.company-profile.left
        .row#simon-fraser-university
          %h4.company-name
            Simon Fraser University
            %small.title
              Informatique et Mathematique
            %small.status
              %i.icon-refresh
              depuis mai 2012
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p J'étudie des sujets qui sont pour la plupart de bas niveau ou abstraite, comme l'architecture des ordinateurs, systèmes d'exploitation (OS), et l'étude des algorithmes et structures de données. Cela contraste mes expériences de travail, qui étaient plutôt pratiques (programmation web, devops).
          .span2.details
            %i.icon-off
            OS
            %br
            %i.icon-rocket
            Direction
            %br
            %i.icon-sitemap
            Architecture
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p J'ai exploré l'algèbre générale dans le cadre d'une mineure en mathématiques.
          .span2.details
            %i.icon-superscript
            Algèbre Générale
      .span6.company-profile.right
        .row#langara-college
          %h4.company-name
            Langara College
            %small.title
              Informatique
            %small.status
              %i.icon-time
              mai 2010 à mai 2012
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Fini tous les cours de calcul offerts par le collège, avec une moyenne générale élevée.
          .span2.details
            %i.icon-signal
            Calcul infinitésimal
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Mon éducation au niveau collégial a mis l’accent sur la programmation. Chaque semaine, je devais écrire des programmes en Java, C, C++ (tous les deux), et d'autres langues moins connues comme Perl, awk, et bash.
          .span2.details
            %i.glyphicon-turtle
            Java
            %br
            %i.glyphicon-rabbit
            C/C++
        .row#autodidacte
          %h4.company-name
            Autodidacte
            %small.title
              parce-que je peux
            %small.status
              %i.icon-time
              toujours
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Au cours d'un cours sur les systèmes d'exploitation je suis devenu à l'aise avec la programmation structurée en C: en particulier, l'allocation de mémoire, le communication inter-processus, exclusion mutuelle, et l'application des outile tel splint et valgrind.
          .span2.details
            %i.icon-code-fork
            Object Oriented
            %br
            %i.icon-flag-alt
            &dash;Wall &dash;Wextra
            %br
            %i.icon-warning-sign
            splint/valgrind
        .row.work-statement
          .gutter-for-icon
            %i.icon-tasks
          .span4.statement
            %p Après trois ans j'ai réussi à prendre le deuxième plus haut niveau du test d'aptitude en japonais (JLPT N2).
          .span2.details
            %i.icon-comments-alt
            Acquisition du langage
            %br
            %i.icon-star
            Spécialiste
